{{ Color "2" .Title }} [{{.ID}}]
{{ wordWrap 80 .Description}}

{{if .Characters}}
You notice:
{{- range .Characters }}
  - {{.Name}}, a {{.Race}}
{{- end}}
{{end}}

{{if .Mobs}}
Nearby, you see:
{{- range .Mobs }}
  - {{.Name}} ({{.Disposition}})
{{- end}}
{{end}}

{{if .Items}}
Scattered throughout the room, you spot:
{{- range .Items }}
  - {{.Name}}
{{- end}}
{{end}}

{{if .Exits}}
Exits:
{{- range .Exits }}
  - To the {{.Direction}}, {{.Description}}
{{- end}}
{{end}}
